.env
sqlserver.env
docker/mssql/data/*
docker/mssql/log/*
docker/mssql/secrets/*
docker/mysql/data/*
docker/phpmyadmin/sessions/*
coding/*
coding/node_modules/*
coding/dist/*
src/app/vendor/*
src/database/*
!src/database/.gitkeep
