@use "../../module/import" as *;
/*
*
* form
*
*/
.c-form {
    flex: 1;
    &__leadText {
        margin-bottom: 20px;
    }
    &__Message {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: solid 1px var(--bordercolor-lightgray);
    }
    &__MessageBox {
        cursor: pointer;
        padding: 10px;
        border-radius: 4px;
        border: solid 1px var(--color-lightgblue);
        color: var(--color-lightgblue);
        position: relative;
        @include mq(max, sm) {
            padding: 10px 5px;
        }
        &::before, &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 20px;
            width: 2px;
            height: 10px;
            background: var(--color-lightgblue);
        }
        &::before {
            transform: translate(-50%,-50%) rotate(45deg);
        }
        &::after {
            transform: translate(-50%,-50%) rotate(-45deg);
        }
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


textarea, input[type=text], input[type=date], input[type=time], input[type=email], input[type=password], input[type=number], input[type=url], input[type=search], input[type=tel] {
    border: 1px solid var(--bordercolor-input);
    padding: 10px 20px!important;
    border-radius: 4px;
    width: 100%;
    background-color: var(--color-white);
    @include fs(14);
    margin-bottom: 5px!important;
    &.is-error {
        border: 1px solid var(--color-error);
    }
}
input[type=file] {
    margin-bottom: 5px;
}

.errorText {
    color: var(--color-error);
}
.c-formItem {
    margin-bottom: 10px;
    @include mq(max, sm) {
        margin-bottom: 0px;
    }
    &__head {
        margin-bottom: 10px;
        @include mq(max, sm) {
            margin-bottom: 5px;
        }
    }
    &__ttl {
        margin-bottom: 5px;
        @include fs(14);
    }
    &__subttl {
        margin-bottom: 5px;
        @include fs(12);
    }
    &__ttlHelp {

    }
}
.c-formGroup {
    ul {
        display: inline-flex;
        li {
            margin-right: 10px;
        }
    }
}
.c-formLineItem {
    dt {
        @include fs(11);
    }
    select,
    input {
        border-radius: 0px!important;
        border-right: none!important;
    }
    li:first-child {
        select,
        input {
            border-radius: 4px 0 0 4px!important;
        }
    }
    li:last-child {
        input {
            border-radius: 0 4px 4px 0!important;
            border-right: 1px solid var(--bordercolor-input)!important;
        }
    }
}

.c-formItem__btn {
    margin-top: 40px;
    @include mq(max, sm) {
        margin-top: 20px;
    }
    &.--middle {
        margin-bottom: 40px;
    }
    &.--center {
        display: flex;
        justify-content: center;
        flex-flow: wrap;
    }
}

.c-fileInpu {
    margin-bottom: 15px;

    &__preview {
        margin-right: 15px;
        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    label {
        @include fs(12);
        display: inline-block;
        border-radius: 4px;
        padding: 5px 20px;
        margin: 10px 0;
        transition: .3s;
        border: 1px solid var(--bordercolor-input);
        cursor: pointer;
        &:hover {
            opacity: .9;
            transition: .3s;
        }
    }
    input {
        display: none;
    }
}