@use "../../module/import" as *;
/*
*
* setting
*
*/
.p-setting {

    &__files {
        display: flex;
        border-radius: 4px;
        border: solid 1px var(--bordercolor-lightgray);
        margin-bottom: 20px;
    }
    &__fileBox {
        padding: 20px;
        width: 33%;
        border-left: solid 1px var(--bordercolor-lightgray);

        &:first-child {
            border-left: none;
        }
        h3 {
            @include fs(14);
            font-weight: bold;
        }
        p {
            @include fs(12);
        }
        a {
            margin-top: 10px;
        }
    }
}