@use "../module/import" as *;
/*
*
* columns
*
*/
.l-columns {
    display: flex;
    height: 100%;
    &__menu {
        width: 200px;
    }
    &__wrap {
        flex-wrap: wrap;
    }
    &__center {
        align-items: center;
        justify-content: center;
    }
}